

@media screen and (min-width: map-get($breakpoint, Desktop)) {
    .bannier {
        background-image: url("../public/banner-bg.png");
        background-position: top center;
        // background-size:cover ;
        background-repeat: repeat;
        width: 100%;
        height: 900px;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 260px 0 100px 0;
    
        .welcom {
          // transform: translateY(200px);
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          // background: blue;
          width: 100%;
          height: 95%;
        }
      
        .presentation {
          width: 60%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          // background-color: rgb(255, 0, 170);
          margin-left: 50px;
        }
       
        .portfolio {
          width: 280px;
          height: 30px;
          display: flex;
          align-items: center;
          font-weight: 700;
          letter-spacing: 0.8px;
          padding: 8px 10px;
          background: linear-gradient(
            90.21deg,
            rgba(170, 54, 124, 0.5) -5.91%,
            rgba(74, 47, 189, 0.5) 111.58%
          );
          border: 1px solid rgba(255, 255, 255, 0.5);
          font-size: 20px;
          font-family: centra, serif;
        }
        .name {
          position: relative;
          word-wrap: break-word;
          width: 100%;
          // background: #000;
          font-size: 45px;
          font-weight: 700;
          letter-spacing: 0.8px;
          line-height: 1;
          margin-top: -40px;
        }
        .data-change {
          height: 100%;
          width: max-content;
          border-right: 0.08em solid #666;
        }
       
       
        .paragraph {
          font-size: 18px;
          line-height: 27px;
          color: #b8b8b8;
          font-family: centra, sans-serif;
          margin-top: -30px;
          width: 90%;
        }
        .Connect {
          color: #fff;
          font-weight: 700;
          font-size: 20px;
    
          letter-spacing: 0.8px;
          display: flex;
          width: 180px;
          justify-content: space-around;
          background-color: transparent;
          transform: translateX(0px);
          transform: translateY(-20px);
          transition: transfrom 1000ms;
          text-decoration: none;
          cursor: pointer;
        }
        .Connect p {
          font-family: centra, sans-serif;
          line-height: 30px;
          font-size: 20px;
          font-weight: 700;
          color: #ffffff;
        }
        .Connect img {
          font-size: 25px;
          margin-left: 10px;
          transition: 0.3s ease-in-out;
          line-height: 1;
        }
        .Connect:hover img {
          transform: translateX(30px);
        }
        @keyframes cursor {
          0% {
            opacity: 1;
          }
    
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        .header-img {
          width: 80%;
          height: 80%;
          animation: svgAnimete 3s linear infinite;
        }
    
        @keyframes svgAnimete {
          0% {
            transform: translateY(-20px);
          }
          50% {
            transform: translateY(20px);
          }
          100% {
            transform: translateY(-20px);
          }
        }
      }
    
      .skill {
        width: 70%;
        height: 700px;
        background: #151515;
        border-radius: 64px;
        text-align: center;
        padding: 70px 60px;
        margin-top: -50px;
        transform: translateY(60px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        img {
          width: 50%;
        }
        h5 {
          margin-top: 10px;
        }
      }


}





// pour le tablete

@media screen and (min-width: map-get($breakpoint, Tablet)) and  (max-width: 1024px)  {
  .bannier {
      background-image: url("../public/banner-bg.png");
      background-position: top center;
      // background-size:cover ;
      background-repeat: repeat;
      width: 100%;
      height: 900px;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 260px 0 100px 0;
  
      .welcom {
        transform: translateY(-25px);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        // background: blue;
        width: 100%;
        height: 100%;
      }
    
      .presentation {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // background-color: rgb(255, 0, 170);
        margin-left: 50px;
      }
     
      .portfolio {
        width: 70%;
        max-width: 280px;
        height: 30px;
        display: flex;
        align-items: center;
        font-weight: 700;
        letter-spacing: 0.8px;
        padding: 8px 10px;
        background: linear-gradient(
          90.21deg,
          rgba(170, 54, 124, 0.5) -5.91%,
          rgba(74, 47, 189, 0.5) 111.58%
        );
        border: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 1.8vw;
        font-family: centra, serif;
      }
      .name {
        position: relative;
        word-wrap: break-word;
        width: 100%;
        // background: #000;
        font-size:3vw;
        font-weight: 700;
        letter-spacing: 0.8px;
        line-height: 25px;
        margin-top: -50px;
      }
      .data-change {
        height: 100%;
        width: max-content;
        border-right: 0.08em solid #666;
      }
     
     
      .paragraph {
        font-size: 1.5vw;
        line-height: 20px;
        color: #b8b8b8;
        font-family: centra, sans-serif;
        margin-top: -60px;
        width: 90%;
      }
      .Connect {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
  
        letter-spacing: 0.8px;
        display: flex;
        width: 180px;
        justify-content: space-around;
        background-color: transparent;
        transform: translateX(0px);
        transform: translateY(-20px);
        transition: transfrom 1000ms;
        text-decoration: none;
        cursor: pointer;
      }
      .Connect p {
        font-family: centra, sans-serif;
        line-height: 30px;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
      }
      .Connect img {
        font-size: 25px;
        margin-left: 10px;
        transition: 0.3s ease-in-out;
        line-height: 1;
      }
      .Connect:hover img {
        transform: translateX(30px);
      }
      @keyframes cursor {
        0% {
          opacity: 1;
        }
  
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      .header-img {
        max-width: 1000px;
        width: 100%;
        height: 70%;
        margin-right: -200px;
        animation: svgAnimete 3s linear infinite;
       
        
      }
  
      @keyframes svgAnimete {
        0% {
          transform: translateY(-20px);
        }
        50% {
          transform: translateY(20px);
        }
        100% {
          transform: translateY(-20px);
        }
      }
    }
  
    .skill {
      width: 70%;
      height: 700px;
      background: #151515;
      border-radius: 64px;
      text-align: center;
      padding: 70px 60px;
      margin-top: -50px;
      transform: translateY(60px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  
      img {
        width: 50%;
      }
      h5 {
        margin-top: 10px;
      }
    }


}





// pour le smarphone
@media screen and  (max-width:map-get($breakpoint, Mobile)) {
  .bannier {
      background-image: url("../public/banner-bg.png");
      background-position: top center;
      // background-size:cover ;
      background-repeat: repeat;
      width: 100%;
      height: 1200px;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 260px 0 100px 0;
  
      .welcom {
        transform: translateY(-60px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        // background: blue;
        width: 100%;
        height: 100%;
      }
    
      .presentation {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // background-color: rgb(255, 0, 170);
        // margin-left: 50px;
      }
     
      .portfolio {
        width: 70%;
        max-width: 300px;
        height: 40px;
        display: flex;
        align-items: center;
        font-weight: 700;
        letter-spacing: 0.8px;
        padding: 8px 10px;
        background: linear-gradient(
          90.21deg,
          rgba(170, 54, 124, 0.5) -5.91%,
          rgba(74, 47, 189, 0.5) 111.58%
        );
        border: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 3vw;
        font-family: centra, serif;
      }
      .name {
        position: relative;
        word-wrap: break-word;
        width: 100%;
        // background: #000;
        font-size:7vw;
        font-weight: 700;
        letter-spacing: 0.8px;
        line-height: 40px;
        margin-top: -1px;
      }
      .data-change {
        height: 100%;
        width: max-content;
        border-right: 0.08em solid #666;
      }
     
     
      .paragraph {
        font-size: 3vw;
        // line-height: 20px;
        color: #b8b8b8;
        font-family: centra, sans-serif;
        margin-top: -30px;
        width: 90%;
      }
      .Connect {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.8px;
        display: flex;
        width: 180px;
        justify-content: space-around;
        background-color: transparent;
        transform: translateX(0px);
        // transform: translateY(-20px);
        transition: transfrom 1000ms;
        text-decoration: none;
        cursor: pointer;
      }
      .Connect p {
        font-family: centra, sans-serif;
        line-height: 30px;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
      }
      .Connect img {
        font-size: 25px;
        margin-left: 10px;
        transition: 0.3s ease-in-out;
        line-height: 1;
      }
      .Connect:hover img {
        transform: translateX(30px);
      }
      @keyframes cursor {
        0% {
          opacity: 1;
        }
  
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      .header-img {
        max-width: 1000px;
        width: 80%;
        height: 70%;
        margin-right: -200px;
        animation: svgAnimete 3s linear infinite;
       
        
      }
  
      @keyframes svgAnimete {
        0% {
          transform: translateY(-20px);
        }
        50% {
          transform: translateY(20px);
        }
        100% {
          transform: translateY(-20px);
        }
      }
    }
  
    .skill {
      width: 70%;
      height: 700px;
      background: #151515;
      border-radius: 64px;
      text-align: center;
      padding: 70px 60px;
      margin-top: -50px;
      transform: translateY(60px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  
      img {
        width: 50%;
      }
      h5 {
        margin-top: 10px;
      }
    }


}