

@import "./variable";
@import "./App";
@import "./Bannier";
@import "./Projets";
@import "./Contact";

@media screen and  (min-width:map-get($breakpoint, Desktop)) {
  body {
    width: 100vw;
    height:550vh;
    line-height: 1;
    background: #000;

    /* overflow-x: hidden; */
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  /* HTML5 display-role reset for older browsers */
 ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

}

@media screen and  (min-width:map-get($breakpoint, Tablet) ) and (max-width:1024px) {

  body {
    margin: 0px;
    width: 100vw;
    // height: 120vh;
    height: max-content;

    
    /* overflow-x: hidden; */
  }
    
}



@media screen and  (max-width:map-get($breakpoint, Mobile)) {
  body {
    margin: 0px;
    width: 100vw;
    // height: 120vh;
    height: max-content;
  
    //  overflow-x: hidden; 
  }
}




